/* ===================================
   Desktop Circle
==================================== */

.desktop-home {

    &_review {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 25rem;
        width: 21vw;
        transform: translateX(5rem);

        &:hover {
            cursor: pointer;
        }
    
    
        &--title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 5rem;
            font-family: Great Vibes;
            color: white;
            align-self: center;
            justify-self: center;
            text-shadow: 2px 2px rgba(0, 0, 0, .25);
        }

        &--circle {
            width: 15vw;
            margin: auto;
        }

        &--tag {
            border: 1px solid white;
            border-radius: 5px;
            padding: .2rem 1.1rem;
            padding-bottom: .4rem;
            position: absolute;
            background-color:   #E9BB74;
            top: 16rem;
            right: 3.2rem;
            font-size: 1.3rem;
            color: white;
            font-family: Lobster Two;
            font-weight: 900;
            box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .25);

            p {
                display: inline;
            }

            .check-mark{
                margin-left: .8rem;
                font-size: 1.6rem;
            }

            &.silver-tag {
                margin-right: 3rem;
            }
        }

        #silver-tag {
            margin-right: 3rem;
        }
    }
} 



/* ===================================
   Mobile Circle
==================================== */

.mobile-home {

    &_review {
        grid-row: 2/2;
        position: relative;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
    

        &--title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 6rem;
            font-family: Great Vibes;
            color: white;
            align-self: center;
            justify-self: center;
            text-shadow: 2px 2px rgba(0, 0, 0, .25);
        }

        &--circle {
            width: 70vw;
            margin: auto;
        }

        &--tag {
            border: 1px solid white;
            border-radius: 5px;
            padding: .6rem 1.7rem;
            position: absolute;
            background-color: $gold-primary;
            top: 67%;
            right: 5%;
            font-size: 1.5rem;
            color: white;
            font-family: Lobster Two;
            font-weight: 700;
            box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .25);

            p {
                display: inline;
            }

            .check-mark{
                margin-left: .8rem;
                font-size: 1.6rem;
            }

        }

        #silver-tag {
            margin-right: 3rem;
        }
    }
} 


/* ===================================
   750px
==================================== */

@media only screen and (min-width : 700px) {
    
   .mobile-home_review--circle {
       width: 40vw;
   }

   .mobile-home_review--tag {
        right: 30%;
   }
    
}


@media only screen and (min-width : 900px) {
    
   .mobile-home_review--circle {
       width: 30vw;
   }
    
}