.closing-x {
    position: absolute;
    color: #514f55;
    top: 2rem;
    right: 2.6rem;
    cursor: pointer;
}

// Desktop
@media only screen and (min-width : $desktop) { 
    .closing-x {
        position: absolute;
        top: 2rem;
    }
}