/* ===================================
   Desktop Home
==================================== */

.desktop-home {
    background-color: $grey-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 88vh;    
    width: 100vw;
    padding: 0 15rem;
    padding-bottom: 10rem;
}


/* ===================================
   Mobile home
==================================== */

.mobile-home {
    display: grid;
    grid-template-rows: 1fr min-content 2fr 70px 70px;
    height: 88vh;    
    width: 100vw;
}

/* ===================================
   Review
==================================== */

.review {
    padding-top: 30vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 87vh;

    &-native {
        margin-bottom: 5rem;
        font-weight: 600;
        font-size: 2.8rem;
        z-index: 10;
        transition: all 0.4s;
        width: 90vw;
        text-align: center;
    }

    &-native--small {
        font-size: 1.8rem;
        color: $grey-medium;
        transform: translateY(-2rem);
        font-weight: 400;
    }

    &-input {
        position: relative;
        border: none;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        padding: 10rem 2rem;
        top: -30%;
        background-color: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &-close {
        position: absolute;
        top:5rem;
        right: 5rem;
        cursor: pointer;
        font-size: 2rem;
        color: grey;
    }

    .correct {
        color: #B8F18B;
    }

    .incorrect {
        color: #F86A79;
    }
}

.review-input:focus {
    border: none !important;
}
