.window {
    width: 100vw;
    overflow-x: hidden !important;
    min-height: 100vh;
}  

.container {
    height: 88vh;
    position: relative;
    width: 100vw;
    overflow: hidden;
    transition: all 0.2s;
}

.scroll-container {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow: scroll;
}

.list-container {
    background-color: rgba($color: $grey-header, $alpha: .42);
    height: auto;
    width: 100vw;
    padding: 1rem 0;
    overflow: scroll;
    overflow-x: hidden;
    border-top: 3px solid rgba($color: $grey-header, $alpha: .42);
    margin-bottom: 5rem;
}


.main-content {
    margin: 0;
}



// Desktop
@media only screen and (min-width : $desktop) {
    .main-content {
        margin: 6rem 25vw;
    }

    .list-container {
        height: auto;
        width: auto;
        background-color: transparent;
        border: none;
        justify-content: space-between;
        flex-wrap: wrap;

        &.flex {
            display: flex;
        }
    }
}